
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&#127793;Members Details</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning" >
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <a class="navbar-brand" href="{{ url_for('index') }}"><b>Plant Disease Classification</b></a>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('project_details') }}">Project Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('member_details') }}">About Us</a>
                    </li>
                </ul>
            </div>
    </nav>
    <br>
    <h2>&rarr; Project By</h2>
        <br>
            <p> &rarr; Sri Sai Satvik </p>
            <p> &rarr; Venkatesh Mungara</p>
            <p> &rarr; Pallavai</p>
            <p> &rarr; Aditya Kasare</p>
            <p> &rarr; Shivam Kumar jha</p>
            <p> &rarr; Meghana Shivanai</p>
    </div>    
</body>
</html>